{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Dictionary Builder</title>
    <link rel="stylesheet" href="{% static 'dict_builder.css' %}">
</head>

<body>
    <h1>Dizzy Requests (Dictionary Builder)</h1>
    <div class="container">
        <div class="table-container">
            <form method="post" action="{% url 'dict_builder' %}">
                {% csrf_token %}

                <table>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    {% for key, value in dict_data.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td><input type="text" name="{{ key }}" value="{{ value }}"></td>
                    </tr>
                    {% endfor %}
                </table>

                <button type="submit" name="Update" value="true">Update</button>
                <button type="submit" name="Submit" value="true">Submit</button>

                <div class="button-group">
                    <button type="submit" name="ChangeKeys" value="entity_workflow">Entity/Workflow</button>
                    <button type="submit" name="ChangeKeys" value="task_service">Task/Service</button>
                </div>
            </form>
        </div>

        {% if dizzy %}
        <div class="response-container">
            <div class="dizzy-stats">
                <h2>Dizzy Response</h2>
                <ul>
                    {% for key, value in dizzy.items %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Additional row -->
    <div class="container">
        <div class="table-container">
            Content for the new table-container
        </div>

        <div class="response-container">
            Content for the new response-container
        </div>
    </div>

    <div class="text-editor">
        <!-- Your text editor HTML code goes here -->

    </div>

    <footer>
        <a href="{% url 'second_page' %}">Go to Second Page</a>
    </footer>
</body>

</html>